.nav-link, .btntext{
    font-family: 'Noto Sans TC', sans-serif;
}

/*320*/
@media (min-width: 320px) {
    /*body*/
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -999;
    }

    .lbg{
        display: none;
    }

    .sbg {
        display: block;
        max-width: 100%;
        padding: 0px;
        margin: 0px;
    }

    /*navbar*/
    .navbar-brand{
        width: 64px;
        height: 82px;
        padding: 0px;
        margin: 0px;
    }

    .navbar-nav{
        background-color: black;
    }

    /*button*/
    .btn{
        position: fixed;
        top: 300px;
        left: 64px;
        padding: 0px;
        margin: 0px;
    }

    .pbtn{
        width: 160px;
        height: 36px;
        border-radius: 18px;
        background-color: #2EBCE9;
        padding: 0px;
        margin: 0px;
        border: none;
    }

    .btntext{
        font-size: 16px;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: 12px;
        text-align: center;
        color: white;
        padding: 0px;
        margin: 0px 0px;
    }
}

/*1280*/
@media (min-width: 1280px) {
    /*body*/
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -999;
        background-color: black;
    }

    .lbg{
        display: block;
        max-width: 90%;
        padding: 0px;
        margin: 0px 77px;
    }

    .sbg {
        display: none;
    }

    /*navbar*/
    .navbar-brand{
        width: 98px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }

    .navbar{
        padding: 0px;
        margin: 20px 140px 0px;
    }

    .navbar-nav{
        float: right;
    }

    .nav-link{
        color: white;
        font-size: 20px;
        font-weight: 100;
        line-height: 27px;
        padding: 0px;
        margin: 0px 0px 0px 50px;
    }

    .nav-link:hover{
        color: #2EBCE9;
    }

    /*button*/
    .btn{
        position: fixed;
        top: 500px;
        left: 160px;
        padding: 0px;
        margin: 0px;
    }

    .pbtn{
        width: 350px;
        height: 80px;
        border-radius: 40px;
        background-color: #2EBCE9;
        padding: 0px;
        margin: 0px;
        border: none;
    }

    .pbtn:hover{
        background-color: #2e50e9;
    }

    .btntext{
        font-size: 25px;
        font-weight: 100;
        line-height: 32px;
        letter-spacing: 20px;
        text-align: center;
        color: white;
        padding: 0px;
        margin: 0px 0px;
    }

    .btntext:hover{
        text-decoration: none;
        color: white;
    }
}